@model SectionDetailsServiceModel
@{
    ViewData["Title"] = Model.Tittle;
}
<br />
<br />
<h1>@ViewData["Title"]</h1>
<br />
<a class="btn btn-default" href="@($"/forum/sections/AddTheme/{Model.Id}")">Add Theme</a>
<br />
<br />


<table class="table table-bordered table-hover">
    <tbody>
        @foreach (var theme in Model.Themes)
        {
            var dict =
                 new Dictionary<string, string>
                 {
                      {"themeId", theme.Id.ToString()},
                      {"page", "1"},
                 };
            <tr>
                <th>
                    <h3>
                        <a asp-area="Forum" asp-controller="Themes" asp-action="Details" asp-all-route-data="@dict">@theme.Title</a>
                    </h3>
                    <h5>By @theme.Creator.UserName</h5>
                    <h5>Open at: @($"{theme.PublishedDate.ToShortTimeString()} on {theme.PublishedDate.ToShortDateString()}")</h5>
                    <h5>Answers: @(theme.Articles.Count())</h5>
                </th>
            </tr>
        }
    </tbody>
</table>

