@model NewsDetailsServiceModel
@using System.Linq

@{
    ViewData["Title"] = Model.Title;
}
<div class="jumbotron jumbotron-fluid">
    <h3>
        @Model.Title
    </h3>
    <img src="@Model.ImageUrl" class="img-responsive" height="400" width="800">
    <p>
        @Model.Content
    </p>
    
   @if (Model.VideoUrl != null)
   {
    <iframe width="570" height="325" 
            src="@Model.VideoUrl" 
            frameborder="1"
            gesture="media" 
            allow="encrypted-media" 
            allowfullscreen ="true"></iframe>
   }
    
</div>
<div>  
    <h4><a href="@($"/Articles/AddLike/{Model.Id}")" class="@(Model.IsLiked == true ? "not-active" : "active")">Like</a> @($": {Model.Likes.Where(l => l.IsLiked).Count()}")</h4>
    <h4><a href="@($"/Articles/AddUnlike/{Model.Id}")" class="@(Model.IsLiked == true ? "not-active" : "active")">Unlike</a> @($": {Model.Likes.Where(l => l.IsLiked == false).Count()}")</h4>
</div>




