@model CourseDetailsServiceModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<hr />


<h4>Start Date:@($"{Model.StartDate.Month}/{Model.StartDate.Day}/{Model.StartDate.Year}")</h4>
<h4>End Date:@($"{Model.EndDate.Month}/{Model.EndDate.Day}/{Model.EndDate.Year}")</h4>
<h4>Duration: @((Model.EndDate - Model.StartDate).TotalDays) days</h4>
<h3>@Model.Description</h3>
<h4>Trainer: @Model.Trainer.Name (@Model.Trainer.UserName)</h4>

@if (!Model.UserIsSigned)
{
    <form  asp-action="SignIn" asp-route-id="@Model.Id">
        <input type="submit" class="btn btn-success" value="Sign In" />
    </form>

}
else
{
    <form asp-action="SignOut" asp-route-id="@Model.Id">
        <input type="submit" class="btn btn-danger" value="Sign Out" />
    </form>
    
}

